

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-image:url(../img/shelfbg.jpg);
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    background: #333;
    background-image:url(../img/shelfbg.jpg);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

a, a:visited {
    color: #1B97EF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    color: #eee;
    padding: 10px;
    margin: 0 0 10px 0;
}

.red
{
  width: 100px;
  height: 200px;  
  padding: 50px;
  background-color:rgba(255,0,0,1);
}

.green
{
  width: 100px;
  height: 200px;  
  padding: 50px;
  background-color:rgba(0,255,0,1);
}

.blue
{
  width: 100px;
  height: 200px;  
  padding: 50px;
  background-color:rgba(0,0,255,1);
}

.yellow
{
  width: 100px;
  height: 200px;  
  padding: 50px;
  background-color:rgba(173, 255, 66, 1);
}


.grey
{
  width: 100px;
  height: 200px;  
  padding: 50px;
  background-color:rgba(161, 161, 161, 1);
}

.lightblue
{
  width: 100px;
  height: 200px;  
  padding: 50px;
  background-color:rgba(77, 205, 245, 1);
}

#headingtext 
{
    width:auto;
    height:auto;
    color:#00ffbf;
    font-size:7vw;
    text-align: center;
}
.shelf {
    /*background-image:url(../img/shelfbg.jpg);*/
    background: rgba(77, 77, 77, .9);
    /*background: #DDD;*/
    overflow: auto;
    margin: auto auto;
    width: auto;
    /*max-width: 1170px;*/
    height: auto;
    /*padding: 10px 0px;*/
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
    position: relative;
    /*background: -moz-linear-gradient(top,#EEE 0,#BBB 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#EEE),color-stop(100%,#BBB));
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F5F5F5),color-stop(10%,#DDD),color-stop(90%,#BBB),color-stop(100%,#888));*/
}
.shelf:after {
    display: block;
    content: '';
    width: 100%;
    height: auto;
    background: red;
    position: absolute;
    bottom: 0;
    background: url(../img/bg-shelf.png) top left repeat-x;
    background-size: 200px 100px;
}

.shelf.owned:before,
.shelf.wanted:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 20px;
    padding: 5px 10px;
    box-shadow: 0px 0px 3px 1px #444;
    background: #2299DD;
    color: #EEE;
}

.shelf.wanted:before {
    content: 'Upcoming books / wishlist';
}

.shelf:nth-child(2).owned:before {
    content: 'S1 & S2 [Notes+Syllabus]';
    opacity:.5px;
    background-color:rgba(0, 0, 0, 1);
    position :static;
    z-index:100;
    font-size:50px;
}

.shelf:nth-child(3).owned:before {
    content: 'More books I own';
}

.shelf h2 {
    margin: 0;
    padding: 10px 0;
    color: #EEE;
}

.books,
.shelf:after {
width: auto;
    padding: 0px 30px;
    padding: 50px 50px;
}


.books {
    position: relative;
    margin: 30px 0px;
}

.book {
    list-style: none;
    padding: 0;
    float: left;
    width: 200px;
    height: auto;
    margin-left: 0px;
    overflow: hidden;
    position: relative;
    -webkit-transform: perspective(500px) rotateY(22deg) scale(0.9);
    -moz-transform: perspective(500px) rotateY(22deg) scale(0.9);
    -ms-transform: perspective(500px) rotateY(22deg) scale(0.9);
    -o-transform: perspective(500px) rotateY(22deg) scale(0.9);
    transform: perspective(500px) rotateY(22deg) scale(0.9);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: -2px 0 -1px #444,-4px 0 -2px #444,-6px 0 -3px #444,-8px 0 -4px #444,-10px 0 -5px #444;
    z-index: 1;
}

.no-csstransforms .book {
    margin-left: 0px;
}

.books .book:first-child {
    margin-left: 0px;
}

.book:hover {
    -webkit-transform: perspective(500px) rotateY(0deg) scale(1);
    -moz-transform: perspective(500px) rotateY(0deg) scale(1);
    -ms-transform: perspective(500px) rotateY(0deg) scale(1);
    -o-transform: perspective(500px) rotateY(0deg) scale(1);
    transform: perspective(500px) rotateY(0deg) scale(1);
    box-shadow: none;
    z-index: 5;
}

.book:hover + .book {
    margin-left: -10px;
}
.no-csstransforms .book:hover + .book {
    margin-left: 0px;
}

.book .front {
    display: block;
}

.book img {
    width: 320px;
    min-height: 200px;
    height: auto;
}

.book .back {
    display: block;
    color: #DEDEDE;
    font-weight: bold;
    font-size: 13px;
    background: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    margin-top: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.no-rgba .book .back {
    background: #444;
}

.book:hover .back {
    margin-top: -40px;
}

.book:hover .back:hover {
    margin-top: 0px;
    background: rgba(0,0,0,0.8);
    top: 0;
}

.no-rgba .book:hover .back:hover {
    background: #444;
}

.book img {
    max-width: 100%;
    width: auto;
    height: auto;
    position: relative;
}

.title {
    margin: 0;
    padding: 0;
}

.description {
    margin: 0;
}

.rating ol {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.rating li {
    padding: 0;
    list-style: none;
    float: left;
    width: 20%;
    margin-bottom: 5px;
    text-align: center;
    box-shadow: 0;
    color: rgba(255,255,255,0.4);
}
/* Always color the first */
.rating ol li:first-child {
    color: #E6DB74;
    text-shadow: 0px 0px 4px #FFF;
}
/* First + second */
.star-2 li:nth-child(2) {
    color: #E6DB74;
    text-shadow: 0px 0px 4px #FFF;
}
/* First + second and third */
.star-3 li:nth-child(2),
.star-3 li:nth-child(3) {
    color: #E6DB74;
    text-shadow: 0px 0px 4px #FFF;
}

/* all, but the last */
.star-4 li {
    color: #E6DB74;
    text-shadow: 0px 0px 4px #FFF;
}
.star-4 li:last-child {
    color: rgba(255,255,255,0.7);
    text-shadow: none;
}
/* ALL */
.star-5 li {
    color: #E6DB74;
    text-shadow: 0px 0px 4px #FFF;
}

.p10 {
    padding: 10px;
}

.description {
    font-size: 12px;
}

.back a {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: #E6DB74;
    text-decoration: none;
}

footer
{
width:auto;    
}


footer.center {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #999;
    background-color: #EFEFEF;
}

.center {
    margin: 10px auto 0px;
    /*max-width: 700px;*/
    width:auto;
}
.justify {
    text-align: center;
}

/* RETINA GRAPHICS (multiple device/types support!) */
@media (min--moz-device-pixel-ratio: 1.3),
        (-webkit-min-device-pixel-ratio: 1.3),
        (min-device-pixel-ratio: 1.3),
        (min-resolution: 1.3dppx) {

    .shelf:after {
        background-image: url(../img/bg-shelf@2.png);
    }

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
