#bgvideo {


width: 100%;
height: auto;
z-index: -10;
   margin-top:100px;
   height:auto;
   width:100;
   opacity:1;
}

@media(max-width:800px) {
width: 100%;
height: auto;
z-index: -10;
   margin-top:0px;
   height:auto;
   width:100;
   opacity:1;
}